In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [45]:
df=sns.load_dataset('iris')

In [46]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [47]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [48]:
setosa 1
versi 2
virginica 3
df['species']

SyntaxError: invalid syntax (69957155.py, line 1)

In [49]:
df['species'].replace({'setosa':1,'versicolor':2,'virginica':3})

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: species, Length: 150, dtype: int64

In [50]:
df['species'].replace({'setosa':1,'versicolor':2,'virginica':3},inplace=True)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [52]:
df['species']

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: species, Length: 150, dtype: int64

In [53]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
lb.fit_transform(df['species'])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [54]:
df['species']

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: species, Length: 150, dtype: int64

In [55]:


df['species']
setosa 1
versi 2
virginica 3

SyntaxError: invalid syntax (570833631.py, line 2)

In [56]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df['species']=lb.fit_transform

In [57]:
df

,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,<bound method LabelEncoder.fit_transform of La...
1,4.9,3.0,1.4,0.2,<bound method LabelEncoder.fit_transform of La...
2,4.7,3.2,1.3,0.2,<bound method LabelEncoder.fit_transform of La...
3,4.6,3.1,1.5,0.2,<bound method LabelEncoder.fit_transform of La...
4,5.0,3.6,1.4,0.2,<bound method LabelEncoder.fit_transform of La...
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,<bound method LabelEncoder.fit_transform of La...
146,6.3,2.5,5.0,1.9,<bound method LabelEncoder.fit_transform of La...
147,6.5,3.0,5.2,2.0,<bound method LabelEncoder.fit_transform of La...
148,6.2,3.4,5.4,2.3,<bound method LabelEncoder.fit_transform of La...
149,5.9,3.0,5.1,1.8,<bound method LabelEncoder.fit_transform of La...

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [61]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [62]:
'sepal_length','sepal_width','species'

('sepal_length', 'sepal_width', 'species')

In [64]:
df['species']

0      <bound method LabelEncoder.fit_transform of La...
1      <bound method LabelEncoder.fit_transform of La...
2      <bound method LabelEncoder.fit_transform of La...
3      <bound method LabelEncoder.fit_transform of La...
4      <bound method LabelEncoder.fit_transform of La...
                             ...
145    <bound method LabelEncoder.fit_transform of La...
146    <bound method LabelEncoder.fit_transform of La...
147    <bound method LabelEncoder.fit_transform of La...
148    <bound method LabelEncoder.fit_transform of La...
149    <bound method LabelEncoder.fit_transform of La...
Name: species, Length: 150, dtype: object